@model IEnumerable<RestaurantApp.Entities.Chef>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Chefs</h1>

<p>
    <a asp-action="Create">Add New Chef</a>
</p>
<table class="table" border="1">
    <thead class="text-info bg-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
